{% extends 'courses/base.html' %}

{% block content %}

<section class="hero">

    <div class="hero-content">
        <span class="hero-label">SIMPLE LMS</span>

        <h1>Learn. Build. Grow.</h1>

        <p>
            Build your skills with structured courses,
            practical lessons, and a simple learning experience.
        </p>

        <a href="{% url 'course_list' %}" class="hero-button">
            Explore Courses
        </a>
    </div>

    <div class="hero-decoration">
        <div class="hero-circle"></div>
        <div class="hero-card">
            <span>01</span>
            <strong>Learn</strong>
        </div>
    </div>

</section>

{% endblock %}